html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

body {
  font: normal 62.5% Georgia, sans;
}

html, body, #wrapper {
  height: 100%;
}

body > #wrapper {
  height: auto;
  min-height: 100%;
}

#mainContent {
  padding-bottom: 100px;
}

body {
  background: url(../images/noise.png);
}

#header__title {
  padding-top: 35px;
  margin-bottom: 29px;
  position: relative;
  text-align: center;
}
#header__title h1 {
  font-size: 1.8em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 9px;
}

#selectFingering {
  font-size: 1.4em;
  font-weight: normal;
}
#selectFingering a {
  color: black;
  text-decoration: none;
  border-bottom: dotted 1px black;
}

#betaVersion {
  position: absolute;
  left: 50%;
  top: 25px;
  color: #999999;
  font-size: 1.2em;
  margin-left: 185px;
}

#footer {
  position: relative;
  margin-top: -100px;
  height: 100px;
  text-align: center;
}

#developer__copyright, #developer__mail {
  font-size: 1.2em;
  color: black;
}

.notesNav {
  padding: 2.4%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 67px;
  box-sizing: border-box;
}

.notesNav__note {
  float: left;
  padding: 3px 2.2%;
  text-align: center;
  font: 1.6em Arial, sans-serif;
}
.notesNav__note a {
  color: black;
  text-decoration: none;
  border-bottom: dotted 1px black;
}
.notesNav__note span {
  position: relative;
  top: -2px;
}
.notesNav__note.active {
  background: #F5EEE0;
  border-radius: 10px;
}
.notesNav__note.active a {
  border-bottom: none;
}

#eduControl {
  text-align: center;
  margin-bottom: 56px;
  padding-left: 13px;
}
#eduControl a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  border-bottom: dotted 1px black;
}

#a-eduStart {
  position: relative;
  margin-right: 28px;
}
#a-eduStart::before {
  content: "";
  display: block;
  width: 9px;
  height: 12px;
  background: url(../images/eduControl-icons.png) no-repeat;
  position: absolute;
  top: 2px;
  left: -11px;
}

#a-shuffleNotes {
  position: relative;
}
#a-shuffleNotes::before {
  content: "";
  display: block;
  width: 14px;
  height: 12px;
  background: url(../images/eduControl-icons.png) no-repeat;
  background-position: -20px 0px;
  position: absolute;
  top: 2px;
  left: -17px;
}

#a-eduStart, #a-shuffleNotes {
  display: inline-block;
}

#blockFlute {
  position: relative;
  width: 1001px;
  padding-bottom: 78px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.fingerPlace {
  width: 24px;
  height: 24px;
  background: url(../images/fingerPlace-bg.png) no-repeat;
  position: absolute;
  text-align: center;
  font: 14px/24px Arial, sans-serif;
  color: white;
}

#positionLeftHands, #positionRightHands {
  position: absolute;
}

#positionLeftHands {
  top: -32px;
  left: 530px;
}
#positionLeftHands::before {
  content: "";
  display: block;
  width: 5px;
  height: 1px;
  background: #B0B1AF;
  position: absolute;
  top: 7px;
  right: -13px;
}
#positionLeftHands::after {
  content: "";
  display: block;
  width: 1px;
  height: 176px;
  background: #B0B1AF;
  position: absolute;
  top: 7px;
  right: -14px;
}

#positionRightHands {
  top: 143px;
  left: 630px;
}
#positionRightHands::before {
  content: "";
  display: block;
  width: 5px;
  height: 1px;
  background: #B0B1AF;
  position: absolute;
  top: 7px;
  left: -17px;
}

#leftHands__link, #rightHands__link {
  font-size: 12px;
  color: #8A8B8A;
  text-decoration: none;
  border-bottom: dotted 1px #8A8B8A;
}

#notes {
  width: 585px;
  margin-right: auto;
  margin-bottom: 64px;
  margin-left: auto;
}
